
.calculator {
    background-color: lightgray;
    margin: 100px auto;
    width: 300px;
    height: 410px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.display {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    font-size: 1.5em;
    text-align: right;
    padding: 5px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 60px;
    height: 60px;
    margin: 5px;
    font-size: 1.1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:active {
    background-color: white;
}

/* Active operator visual state */
.operator.active {
    border: 2px solid gray;
}
